#welcome-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-radius: 1rem;
    margin: 0 auto;

    background: var(--glass);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    overflow: auto;
}

#welcome-page hr {
    width: 50%;
    margin: 1rem 0;
}
#welcome-page h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 1rem;
}

#welcome-page h2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 1rem;
}

#welcome-page h3 {
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 1rem;
}

#welcome-page button {
    font-size: 1rem;
    font-weight: 400;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border: none;
    background-color: var(--default);
    color: #fff;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.instructions {
    margin-bottom: 1rem;

}